.play {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}

@media (max-width: 768px) {
    .play {
        flex-direction: column;
    }
}

.leftColumn {
    display: flex;
}

.activeTurn {
    background-color: green;
    width: 15px;
    margin: -10px 0;
}

.inactiveTurn {
    width: 15px;
    margin: -10px 0;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    margin: auto;

    > h2 {
        font-size: 32px;
        margin: 0;
        text-align: center;
    }

    > p {
        text-align: center;
    }
}

.scoreHalf {
    width: 100%;
    align-self: center;
    padding: 20px;

    /* Score cards */
    > div {
        margin: 12px 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 10px 0;
    }
}

.controls {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 6px;
    background-color: grey;
    padding: 6px;
    margin: auto 0;
}

.controls > :nth-child(n + 25) {
    grid-column: span 2;
  }

.controls > :nth-child(n + 31) {
    grid-column: span 6;
  }

@media (max-width: 768px) {
    .controls {
        margin-top: auto;
        margin-bottom: 0;
    }
}

.throws {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* Individual throw value */
    > div {
        margin: 10px;
        background-color: grey;
        color: white;
        text-align: center;
        aspect-ratio: 1 / 1;
        display: grid;
        align-items: center;
    }
}

.roundTotal {
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;

    > h4 {
        margin: 0;
    }
}

.winningDialog {
    display: flex;
    flex-direction: column;
    text-align: center;

    > button {
        margin-top: 12px;
    }
}