.pickPlayers {
    display: flex;
    flex-direction: column;
    margin: 30vh 3vw;

    > button {
        margin: 8px;
    }
}

.instructions {
    padding-bottom: 8px;
    text-align: center;
}

.playerSelectionContainer {
    display: flex;
    flex-direction: row;

    > div {
        margin: 8px;
    }
}

.addPlayerBody {
    > div {
        margin: 6px;
    }
}