/* Home page */
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    max-width: 500px;
    margin: 10vh 5vh 8vh 5vh;
    background: #c4c4c4;
    padding: 40px;
    border-radius: 80px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 100%;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 700px;
    width: 100%;
    padding: 0 3vh;
}

@media (max-width: 768px) {
  .buttons-container {
    grid-template-columns: 1fr;
  }
}

/* Login page */
.login {
    display: flex;
}

.login-container {
    padding: 12px;
    margin: 300px auto;
    max-width: 1200px;
}

.password-field {
    margin: 6px 0;
}

/* Play page */

.play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.scores {
    width: 100%;
    align-self: center;

    /* Score cards */
    > div {
        margin: 12px 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 10px 0;
    }
}

.controls {
    width: 100%;
}

@media (max-width: 768px) {
    .play {
        flex-direction: column;
    }
}

.pick-players {
    display: flex;
    flex-direction: column;
    margin: 30vh 3vw;
}

.player-selection-container {
    display: flex;
    flex-direction: row;

    > div {
        margin: 8px;
    }
}

.instructions {
    padding-bottom: 8px;
    text-align: center;
}

.score-container {
    display: flex;
    flex-direction: column;
    margin: auto;

    > h2 {
        font-size: 32px;
        margin: 0;
        text-align: center;
    }

    > p {
        text-align: center;
    }
}

.throws {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* Individual throw value */
    > div {
        margin: 10px;
        background-color: grey;
        color: white;
        text-align: center;
        aspect-ratio: 1 / 1;
        display: grid;
        align-items: center;
    }
}

.round-total {
    text-align: center;
}

.stats-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}